/* css document */
@charset "UTF-8";
.container1 {width: 1100px;}
.index-con {padding: 20px;}
.mid-swiper {width: 100%;float: left;margin-left: -15%;padding-left: 15%;box-sizing: border-box;margin-right: -200px;padding-right: 220px;overflow: hidden;position: relative;}
.right-ann {width: 200px;box-sizing: border-box;background: #EBE5E2;height: 400px;position: relative;}
.ann-top {text-align: center;padding: 20px;height: 200px;}
.right-ann h2 {font-size: 18px;text-align: center;color: #333;margin-bottom: 10px;}
.ann-top ul li {line-height: 1.6;text-align: left;}
.ann-top ul li a {color: #482A6B;}
.ann-top .bm-rk {background: #482A6B;color: #fff;text-align: center;padding: 2px 15px;border-radius: 15px;}
.ann-bot {border-top: 10px solid #fff;padding: 20px;text-align: center;}
.ann-bot ul li a {color: #482A6B;line-height: 1.6;}
.slide-box{ width:100%;overflow:hidden; position:relative;box-sizing: border-box;}
.slide-box .hd{ height:35px; overflow:hidden;  bottom:5px; z-index:1;margin: 0 auto;text-align: center;}
.slide-box .hd ul{ overflow:hidden; zoom:1; }
.slide-box .hd ul li{display: inline-block;margin:10px 5px;  width:15px; height:15px; line-height:14px; text-align:center; background:#D8CFCB; cursor:pointer;border-radius: 50%;text-indent: -999px;overflow: hidden;}
.slide-box .hd ul li.on{ background:#2B7785; color:#fff; }
.slide-box .bd{ position:relative; height:400px;overflow: hidden; z-index:0;}
.slide-box .bd li{ zoom:1; vertical-align:middle; }
.slide-box .bd li a {float: left;background-repeat: no-repeat;background-position: center;height: 400px;width: 100%;}
.slide-box .bd img{display:block;position: relative;}
.slide-box .prev,
.slide-box .next{ position:absolute; left:3%; top:50%; margin-top:-25px; display:block; width:32px; height:40px; background:url(../images/slider-arrow.png) -110px 5px no-repeat; filter:alpha(opacity=50);opacity:0.5;   }
.slide-box .next{ left:auto; right:3%; background-position:8px 5px; }
.slide-box .prev:hover,.slide-box .next:hover{ filter:alpha(opacity=100);opacity:1;}

.con-tongji {background: #f2f2f2;height: 40px;line-height: 40px;color: #000;text-align: center;font-size: 16px;}
.con-tongji span {color: #f00;}

.tuijian {background: #fff;float: left;width: 100%;box-sizing: border-box;padding: 10px 20px;border:10px solid #F1EBE9;}
.tuijian ul li {float: left;width: 20%;}
.tuijian ul li.rq-color1 h3,.tuijian ul li.rq-color1 p {color:#926E5B; }
.tuijian ul li.rq-color2 h3,.tuijian ul li.rq-color2 p {color:#89B47F; }
.tuijian ul li.rq-color3 h3,.tuijian ul li.rq-color3 p {color:#667DB4; }
.tuijian ul li.rq-color4 h3,.tuijian ul li.rq-color4 p {color:#694E90; }
.tuijian ul li.rq-color5 h3,.tuijian ul li.rq-color5 p {color:#C6444B; }
.tuijian ul li h3 {margin-top: 5px;}
.tuijian ul li p {margin:10px 0;}
.tuijian ul li p.tuij-rq {margin-bottom: 0;font-size: 12px;color: #999;}
.tuij-img {width: 80px;height: 80px;float: left;margin-right: 10px;}
.tuij-img img {width: 100%;height: 100%;border-radius: 50%;border:1px solid #ddd;}
.tuij-rq span {display: inline-block;width: 15px;height: 15px;background: url(../images/fire.png) no-repeat;background-size: 100%;vertical-align: middle;margin-top: -2px;}

.goods-con {background: #fff;padding: 20px;margin-top: 20px;}
.goods-con .right-con h2 em {color: #000;position: relative;z-index: 3;}
.goods-con .right-con h2 span.xian {z-index: 2;left: 25%;}
.goods-con .right-con h2 .more {background: #F9F7F4;padding: 3px 10px;border-radius: 10px;color: #45241D;}

.right-blcon .bok-n {font-size: 18px;color: #333;margin: 10px 0;font-weight: bold;}
.right-blcon .bok-n span {color: #f00;font-size: 14px;font-weight: normal;}
.right-blcon p {font-size: 14px;}
.right-blcon p span {font-size: 16px;}
.right-bl {width: 50%;box-sizing: border-box;}

.slider{ width:240px;height:380px; padding:0 100px;  margin:0 auto;  position:relative; overflow:hidden;}
.slider .bd{ position:absolute; left:0; top:0;}
.slider .bd li{ overflow:hidden;}
.slider .bd li img{ display:block; width:240px; height:268px;}
.slider .tempWrap{ padding:0 100px !important;}
.slider .bd ul{ margin-left:-240px !important;}
.slider .pnBtn{ position:absolute; top:0; width:100px; height:268px; cursor:pointer;}
.slider .prev{ left:0;}
.slider .next{ right:0;}
.slider .pnBtn .blackBg{ display:block;  position:absolute; left:0; top:0; width:100%; height:268px; background:#000; filter:alpha(opacity=50);opacity:0.5;}
.slider .pnBtn .arrow{ display:none; position:absolute; top:0; z-index:1; width:32px; height:268px; _filter:alpha(opacity=70); }
.slider .prev .arrow{ left:0; background:url(../images/left.png) 0 center no-repeat;}
.slider .next .arrow{ right:0; background:url(../images/right.png) 0 center no-repeat;}
.slider .txt { position: absolute; bottom: 0;left:0; z-index: 2; height: 110px;line-height: 22px;margin-top: 20px; width:400px; overflow: hidden; }
.slider .txt li{ height:110px; position:absolute; bottom:-110px;width: 100%;}
.slider .txt li a{ display: block; color: white; padding: 0 0 0 10px; font-size: 12px; font-weight: bold; text-decoration: none; }

.right-br {width: 50%;box-sizing: border-box;}
.rightt-ul {margin-left: -20px;}
.right-blb {width: 100%;}
.right-blb .rightt-ul li {width: 25%;}
.rightt-ul li {float: left;width: 50%;height:180px;overflow: hidden;padding: 10px;margin-bottom: 20px;border-left: 20px solid #fff;font-size: 12px;box-sizing: border-box;background:#F9F9F9; }
.rightt-ul li a:hover {color: #333}
.rightt-ul li .shu-imgg {display: inline-block;width: 100px;height: 160px;float: left;margin-right: 10px}
.rightt-ul li .shu-imgg img {width: 100%;height: 100%}
.rightt-ul .shu-r {margin-left: 110px;}
.rightt-ul .shu-r p {line-height: 18px;}
.rightt-ul .shu-r .fs16 {font-size: 14px;margin-right: 10px}
.rightt-ul .shu-fl .color1 {color: #59C2D8}
.rightt-ul .shu-fl .fr {color: #f00}
.rightt-ul .shu-fl .fs16 {color: #000}
@media screen and (max-width: 1150px) {
	.jj {display: none;}
}

.goods-con .right-bottom {margin-left: 0;padding: 0;}
.goods-con .huodong {padding: 0;}
.goods-con .huodong ul {margin-left: -20px;}
.goods-con .yanchu ul li {padding-right: 0;margin-bottom: 20px;}
.goods-con .yanchu ul li:last-child {margin-bottom: 0;}

.hot-con {padding: 20px 0;}
.hot-goods ul li {float: left;width: 25%;box-sizing: border-box;padding: 0 20px;border-left: 1px solid #ddd;}
.hot-goods ul li:first-child {border:none;}
.hot-goods ul li h2 {color: #20035D;font-size: 16px;text-align: left;margin-left: 10px;margin-bottom: 15px;}
.hot-goods .hot-left {float: left;}
.hot-goods .hot-name a {color: #333;}
.hot-goods .hot-pri {color: #f00;font-size: 12px;margin-top: 10px;}
.hot-goods .hot-num {color: #999;font-size: 12px;margin-top: 5px;}
.hot-goods .hot-img {float: right;width: 50%;overflow: hidden;}
.hot-goods .hot-img img {width: 100%;height: 100%;}
.hot-goods .hot-by {font-size: 16px;color: #f00;border:1px solid #f00;border-radius: 15px;text-align: center;float: left;padding: 2px 10px;margin-top: 10px;}
.ck-space ul li {float: left;width: 33.3%;text-align: center;}
.ck-space ul li p {color: #999;font-size: 12px;}
.ck-space ul li .ck-name {font-size: 14px;color: #000;margin-bottom: 5px;}

.jp-kc ul li {float: left;width: 50%;text-align: center;}
.jp-kc ul li .kc-img {width: 80%;display: inline-block;}
.jp-kc ul li .kc-img img {width: 100%;height: 200px;}

.footer {margin-top: 40px;text-align: center;margin-bottom: 20px;}
.footer .foot-con {width: 80%;margin: 0 auto;border-top: 2px solid #51B4BF;padding-top: 20px;}
.footer ul li {display: inline;margin-left:20px;}

.right-fixed {position: fixed;right: 10px;top:30px;}
.right-fixed ul li {width: 60px;height: 60px;text-align: center;padding: 10px;box-sizing: border-box;border:1px solid #666;border-top: none;padding-top: 13px;}
.right-fixed ul li:first-child {border-top: 1px solid #666;}
.right-fixed ul li a {color: #333;}
.right-fixed ul li.r1 {background: #6EC0C7;padding-top: 20px;}
.right-fixed ul li.r1 a {color: #fff;}
.right-fixed ul li.r2 {background: #EAE4E1;}
.right-fixed ul li.r2 {padding: 13px 5px;}
.right-fixed ul li.r3 {background: #F9F7F4;}
.right-fixed ul li.r4 {background: #EBE751;}
.right-fixed ul li.r5 {background: #F9F7F4;}
.right-fixed ul li.r6 {background: #EAE4E1;}
.right-fixed ul li.r7 {background: #E3F1EF;}
.right-fixed ul li.r8 {background: #FED9DE;}
.right-fixed ul li.goTop {background: #D8D0CC;}
.right-fixed ul li.goTop a {color: #f00;}
